[Desktop Entry]
Version=1.0
Type=Application
Name=BurpSuite
Comment=
Exec=/root/BurpSuite/run.sh
Icon=/root/BurpSuite/burp.png
Path=
Terminal=false
StartupNotify=false